<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485406734036-u1pu8s62okns7njs85qf5u8kn84ptkno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485406734036-u1pu8s62okns7njs85qf5u8kn84ptkno</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>485406734036-pqqpi01j5bt1jgbrmnmjbqnea0g2qsm3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATuOxDYrzcZiw2rBhmp-DgRdfp--wB3x8</string>
	<key>GCM_SENDER_ID</key>
	<string>485406734036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidkerr.timeTracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-29385</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-29385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485406734036:ios:49a27660c7f17c9a3bad41</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-29385.firebaseio.com</string>
</dict>
</plist>